# PORT=4000
# MONGO_URI=mongodb://localhost:27017/miniorder
# NODE_ENV=development
# MONGO_URI=mongodb+srv://iamchandanpandey11:fw28_022@cluster0.disuwwk.mongodb.net/miniorder?retryWrites=true&w=majority
PORT=3000
MONGO_URI=mongodb://localhost:27017/miniorder
